@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBear.Models.Product


<h2>Edit @Html.DisplayFor(model => model.Name)</h2>
<hr/>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProductId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(model => model.Cost)
    @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })

    <label>Country of origin</label>
    @Html.EditorFor(model => model.CountryOrigin, new { htmlAttributes = new { @class = "form-control" } })

    @Html.LabelFor(model => model.Picture)
    @Html.EditorFor(model => model.Picture, new { htmlAttributes = new { @class = "form-control" } })

    <input type="submit" class="btn btn-success" value="Save" />
}

<p>@Html.ActionLink("Back to product list", "Index")</p>
        
