@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<GummiBear.Models.Product>


<h2>Products</h2>
<ul>
    @foreach (var product in Model)
    {
        <div class="product-list-content">
            <h3>@Html.ActionLink((string)product.Name, "Details", new { id = product.ProductId })</h3>
            <p>$@product.Cost.00</p>
            <img class="product-image" src="@product.Picture" />
            <h5>@Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })</h5>
        </div>

    }
</ul>

<p>@Html.ActionLink("Add a new product", "Create")</p>
