@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<GummiBear.Models.Product>


<h2>Products</h2>
<h4>@Html.DisplayNameFor(model => model.Name)</h4>
<ul>
    @foreach (var product in Model)
    {
        <li>
        @Html.ActionLink((string)product.Name, "Details", new { id = product.ProductId }) | @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) | @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })</li>
    }
</ul>

<p>@Html.ActionLink("Add a new product", "Create")</p>
