
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img id="brandImage" alt="Brand" src="https://fancybear.net/image/_render__gummy_bear_breakdance_by_bmatsantos-d8s7b56.png">
                <p class="navbar-text"> @Html.ActionLink("Home page", "Index", "Home")</p>
                <p class="navbar-text"> @Html.ActionLink("Products", "Index", "Products")</p>
                <p class="navbar-text"> @Html.ActionLink("About Us", "About", "Home")</p>
                
            </div>
        </div>
    </nav>
    <div class="header-nonindex">

    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>